@import "./mixins";
@import "./variables";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Inter";
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-rendering: optimizeSpeed;
   min-height: 100vh;
}

button {
   outline: none;
   border: none;
}
