@import "./mixins";
@import "./variables";

.booking {
   min-height: 100vh;
   font-family: "Inter";
   font-weight: 600;
   display: grid;
   place-items: center;
   background: #f0f2f7;
}

.booking__wrapper {
   height: 100%;
   width: 100%;
   border-radius: 6px;
   overflow: hidden;
}

.booking__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 48px;
   padding: 2rem;
}

.booking__info {
   min-width: 50%;
   color: $textColor;
   display: flex;
   flex-direction: column;
   gap: 40px;
   background-color: #fff;
   border-radius: 6px;
   padding: 60px 60px 134px 60px;
}

.booking__info_customer-detail {
   display: flex;
   flex-direction: column;
   text-align: center;
   gap: 8px;

   .booking__info__customer-name {
      font-size: 36px;
      line-height: 50.4px;
      text-align: center;
      color: $textColor;
   }

   .booking__info__customer-contact {
      display: flex;
      flex-direction: column;
      gap: 4px;
      font-weight: $regular-font-weight;
      font-size: 14px;
      line-height: 19.6px;
      text-align: center;
      color: #60669f;
   }
}

.booking__divider {
   width: 100%;
   height: 1px;
   border-radius: 6px;
   background-color: #dee3ee;
}

.booking__info-details {
   display: flex;
   flex-direction: column;
   gap: 18px;
   justify-content: space-between;
}

.booking__service {
   display: flex;
   flex-direction: column;
   gap: 24px;
}

.booking__service__title {
   font-size: $text-size-normal;
   line-height: 22.4px;
   text-align: left;
   color: $textColor;
}

.booking__service__wrapper {
   display: flex;
   flex-direction: column;
   gap: $text-size-normal;
}

.booking__service__content {
   display: flex;
   flex-direction: column;
}

.booking__service__item {
   display: flex;
   gap: 24px;
}

.booking__service__item__name {
   flex: 1;
   font-size: $text-size-normal;
   font-weight: 500;
   line-height: 22.4px;
   text-align: left;
}

.booking__balance {
   display: flex;
   flex-direction: column;
   gap: $text-size-normal;
}

.booking__balance__content {
   display: flex;
   justify-content: space-between;

   .booking__balance__label {
      display: flex;
      align-items: center;
      font-size: $text-size-normal;
      font-weight: $regular-font-weight;
      line-height: 22.4px;
      text-align: left;

      &.weight-400 {
         font-weight: 400;
      }

      &.weight-500 {
         font-weight: 500;
      }
   }

   .booking__balance__price {
      font-size: $text-size-normal;
      font-weight: 600;
      line-height: 22.4px;
      text-align: left;

      &.font--large {
         font-size: $text-size-large;
         line-height: 33.6px;
         color: $textColor;
      }
   }
}

.booking__button {
   min-width: 45%;
   height: 3rem;
   border-radius: 6px;
   padding: 0.5rem;
   font-size: $text-size-normal;
   line-height: 22.4px;
   text-align: center;
   color: #fff;
   background-color: $textColor;
   cursor: pointer;
}

@media (max-width: 375px) {
   .booking__info {
      min-width: 300px;
   }
   .booking__button {
      min-width: 200px;
   }
}
